<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="aboutus.css">
</head>
<body><div class="conatiner">

    <div class="nav">
        <div class="navleft">
            <i class="fa-brands fa-dyalog"></i>
        </div>
        <div class="navmid">
            
            <ul>
                <li><a href="http://localhost:8080/home">Home</a></li>
                <li><a href=" http://localhost:8080/aboutus">About us</a></li>
                <li><a href="">Contact us</a></li>
                <li><a href="">Premium</a></li>
            </ul>
        </div>
        <div class="navright">
            <ul>
                <li class="limo"><a href="https://localhost:8080/home/signup">Sign up</a>  </li>
                <li><a href="">Login </a> </li>
            </ul>
        </div>
    </div>
    <div class="aboutus">
          <div class="aboutone">
            <div class="half">

                <p class="aboutpara1">WELCOME TO JOB BOARD </p>
               <p class="aboutpara2">
                   GET A JOB OF YOUR DESIRE
            </p>
            </div>
            <img src="bg.jpg" alt="">
            
          </div>
          <div class="abouttwo">
            <div class="colorblue">

                <div class="writeabout">
                    ABOUT US
                </div>
            </div>
            <div class="aboutuscontent">
                Using a website offers numerous advantages. It provides round-the-clock accessibility, allowing users to find information or services at any time, which is incredibly convenient. Additionally, a website can reach a global audience, significantly expanding the potential customer base. It’s also a cost-effective marketing tool, enabling businesses to promote their products and services without the high costs associated with traditional advertising. Moreover, having a professional website enhances credibility and trustworthiness, making businesses or individuals appear more reliable. Overall, websites offer a convenient and efficient way to access products, services, and information from the comfort of one’s home.




            </div>
            <div class="aboutcolor">

            </div>
          </div>
    </div>
</div>
</body>
</html>